### Project ###
assets/
address.md
README.md

### Markdown ###
*.md

### Docker, Workflow and CI/CD ###
.gitlab-ci.yml
docker-compose.yml
*.yml
*.yaml

### Git/GitHub ###
.gitignore
.github/

### VisualStudioCode ###
.vscode/*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### macOS ###
# General
.DS_Store

### Linux ###
*~
